
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    font-family: 'Indie Flower', sans-serif;
    font-size: 1.5rem;
    color: #333;
}

#navbar a {
    font-size: 18px;
    color: darkslategray;
    font-weight: bold;
}

/*
SLIDER DE IMÁGENES
*/

.carousel-inner {
    width: 100%;
    height: 50%;
}

